@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --letraColor: rgba(38, 162, 188, 1);
  --bordersColor: rgb(27, 139, 161);
}
body {
  background-image: linear-gradient(
      93deg,
      rgba(240, 242, 240, 0.1) 74%,
      var(--letraColor) 89%
    ),
    url("../imagenes/ledsblue.jpg");
  background-size: cover, cover;
  overflow: hidden;
}
.contenedor {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation-name: navTrasalado;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.login {
  max-width: 550px;
  border-radius: 10px;
  border: 3px solid var(--letraColor);
  min-width: 350px;
  background-color: white;
  padding: 10px 5px 30px 5px;
  box-shadow: 5px 5px 5px 0px var(--bordersColor);
}
@keyframes navTrasalado {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    transform: translateX(-40%);
    opacity: 0.25;
  }
  50% {
    transform: translateX(10%);
    opacity: 0.50;
  }
  75% {
    transform: translateX(-10%);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.login-title {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
.login-title h1 {
  font-size: 44px;
  color: var(--letraColor);
}
.login-body {
  width: 100%;
}

.form-group {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.form-group label {
  width: 100%;
  color: var(--letraColor);
  font-size: 18px;
}
.form-group input {
  width: 100%;
  padding: 5px 5px;
  font-size: 14px;
  border: 2px solid var(--bordersColor);
  border-radius: 10px;
  outline: none;
}
.form-group input:focus {
  border: 2px solid var(--letraColor);
}
.form-group p {
  width: 100%;
  text-align: center;
  color: var(--letraColor);
  font-size: 18px;
}
.form-group a {
  margin: auto;
  width: 50%;
  color: var(--letraColor);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid var(--bordersColor);
}
.form-group input[type="submit"] {
  cursor: pointer;
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: var(--letraColor);
  border: 1px solid var(--letraColor);
  background-color: white;
}
.form-group input[type="submit"]:hover {
  color: white;
  border: 1px solid white;
  background-color: var(--letraColor);
}
